.footer {

	position: relative;
	flex-shrink: 0;
	background-color: $black;

}

.icons {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	line-height: 20vh;

	&__link {
		color: $white;
		margin-right: 5%;

		&:nth-of-type(4) {
			margin-right: 0;
		}


		&--hover {
			&:hover {
				color: $aquaMarine;
			}

		}
	}


}